body{
    background-color: #d9d9d9;
    font-family: Arial, Helvetica, sans-serif;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}
#title{
    font-size: 60px;
    color: white;
    padding: 20px;
    margin: 0;
}
#content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}
.UI{
    display: flex;
    flex-direction: column;
}
label{
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
#in{
    min-height: 40px;
    min-width: 250px;
    border: 0;
    border-radius: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 800;
}
#gridSize{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.col{
    min-height: 40px;
    border: 0;
    border-radius: 20px;
}
.gridSpot{
    
}
#brush{
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    min-width: 250px;
    gap: 10px;
}
#grid{
    background-color: #c9c9c9;
    min-height: 600px;
    min-width: 600px;
    padding: 5px;
    display: grid;
}

#clear{
    min-width: 250px;
    min-height: 500px;
    background-color: #e78181;
    border-radius: 15px;
    border: 0;
    color: #d9d9d9;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

#black{
    background-color: black;
}
#white {
    background-color: white;
}
#red {
    background-color: red;
}
#green {
    background-color: rgb(0, 210, 49);
}
#blue {
    background-color: blue;
}
#gradient {
    background: linear-gradient(to right,
                red, orange, yellow, rgb(0, 199, 0), cyan, rgb(253, 1, 253), blue);
}